[project]
	description = Spring Hibernate MySQL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Viktor (vdzundza)
[access "refs/for/refs/*"]
	read = group user/Viktor (vdzundza)
	push = group user/Viktor (vdzundza)
	label-Code-Review = -2..+2 group user/Viktor (vdzundza)
	label-Verified = -1..+1 group user/Viktor (vdzundza)
	rebase = group user/Viktor (vdzundza)
	removeReviewer = group user/Viktor (vdzundza)
	submit = group user/Viktor (vdzundza)
[access "refs/heads/*"]
	read = group user/Viktor (vdzundza)
	create = group user/Viktor (vdzundza)
	push = +force group user/Viktor (vdzundza)
	pushMerge = group user/Viktor (vdzundza)
[access "refs/tags/*"]
	push = +force group user/Viktor (vdzundza)
	pushTag = group user/Viktor (vdzundza)
	pushSignedTag = group user/Viktor (vdzundza)
